<h1> All the books</h1>
<table>
    <tr>
        <th>Title</th>
         <th>Author</th>
          <th></th>
            <th></th>
    </tr>
    <% @books.order(:title).each do |book|%>
     <tr>
        <th>    <%= book.title %></th>
         <th>    <%= book.author %></th>
          <th> <%= link_to "Show", book_path(book) %></th>
          <th> <%= link_to "Edit", edit_book_path(book) %></th>
    </tr>
     <% end %>
</table>

<%= link_to "New Book", new_book_path %>